/* Message/Message.module.css */
.message {
  position: fixed; /* Ou 'absolute' dependendo de onde você quer que apareça */
  top: 200px; /* Distância do topo */
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  z-index: 1000; /* Garante que fique acima de outros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.message p {
    color: #FFF;
    margin: 0;
}

.message.success {
  background-color: #A349A4; /* Verde */
  border: 1px solid #FFF;
}

.message.error {
  background-color: #f44336; /* Vermelho */
  border: 1px solid #f44336;
}

.message.info {
  background-color: #2196F3; /* Azul */
  border: 1px solid #2196F3;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  line-height: 1; /* Alinha o 'X' verticalmente */
}

.closeButton:hover {
  opacity: 0.8;
}