/* components/MobileMenu/MobileMenu.module.css */

.mainMenuButton {
  background-color: #A349A4;
  color: #FFF;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.mainMenuButton:hover {
  background-color: #FF7F26;
}

.arrowIcon {
  transition: transform 0.2s ease;
  color: #FFF;
}

.subMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.subMenuItem {
  background-color: #9a519a;
  color: #FFF;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.subMenuItem:hover {
  background-color: #FF7F26;
}

.subSubMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  margin-top: 2px;
}

.subSubMenuItem {
  background-color: #c06fc0;
  color: #FFF;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subSubMenuItem:hover {
  background-color: #FF7F26;
}

.subSubMenuItem:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Media Query para viewports menores que 469px (mobile) */
@media (max-width: 468px) {
  .menuContainerMobile {
    display: flex; /* Exibe o novo menu para mobile */
    flex-direction: column; /* Padrão: botão embaixo, submenus em cima (recolhido) */
    width: 100%;
    height: 4rem;
    padding: 8px;
    box-sizing: border-box;
    background-color: #FFF;
    z-index: 1000;
    align-items: center;
    justify-content: flex-end; /* Alinha o conteúdo ao fundo (útil para o botão) */
  }

  .menuContainerMobile.expandedMenu {
    justify-content: flex-start;
    flex-direction: column-reverse;
    height: auto; /* Permite que a altura se ajuste ao conteúdo expandido */
    max-height: 90vh; /* Limita a altura para não cobrir tudo */
    overflow-y: auto; /* Adiciona scroll se o conteúdo for muito grande */
  }

  .subMenu {
    padding-top: 15px;
  }

  .menuContainerMobile .arrowIcon {
    color: #FFF;
    font-size: 1.5em;
  }

  .subMenu {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Esconde o menu mobile em telas maiores */
@media (min-width: 469px) {
  .menuContainerMobile {
    display: none;
  }
}